body{
    background-color: lightblue;
}
h2{
    font-family: italic Georgia, serif;
    font-size: 32px;
    font-weight: lighter;
}
input[type=button]{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 28px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 18px;
}
input:hover{
    color: blue;
    background-color: lightcoral;
}
#demo{
    font-size: 22px;
    font-weight: 900;
    border: 3px outset rgb(61, 204, 149);
}
#demo:hover{
    border: 3px inset rgb(61, 204, 149);
}
#zx{
    text-align: right;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
}
#zx:hover{
    font-weight: bold;
}
a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
    color: green;
  }
  
  a:active {
    text-decoration: underline;
  }